---
import ExperienceItem from "../ExperienceItem.astro";
---

<section>
  <h2 class="mb-1 font-bold text-xl" id="experiencia">Experiencia</h2>
  <div class="space-y-4 print:space-y-0" role="feed" aria-labelledby="experiencia">
    <ExperienceItem title="Legado Coria Mezcal Artesanal" link="legadocoriamezcal.com" period="Abril 2025 - Mayo 2025" position="Desarrollador web Freelancer" tags="AstroJS, Javascript, TailwindCSS">
      Desarrollo de sitio web para la exposición de productos de mazcal de la empresa Legado Coria.
      <ul class="ml-4 list-disc list-inside">
        <li>
          Desarrollé un sitio web utilizando AstroJS y TailwindCSS para mostrar la informacion de la empresa y sus productos de mezcal artesanal, incluyendo su historia, proceso de producción y variedad de productos.
        </li>
        <li>
          Implementé un diseño responsivo y accesible, asegurando que el sitio web fuera fácil de usar en dispositivos móviles y de escritorio.
        </li>
      </ul>
    </ExperienceItem>
    <ExperienceItem title="Secundaria Quetzalcoatl" link="secundariaquetzalcoatl.com" period="Junio 2023 - Mayo 2024" position="Desarrollador web en area de sistemas" tags="HTML, CSS, Javascript, PHP">
      Desarrollo y mantenimiento de Plataforma web para la gestión de preinscripciones escolares.
      <ul class="ml-4 list-disc list-inside">
        <li>
          Junto a mi equipo diseñé y desarrollé un sistema web que automatiza el proceso de preinscripción de estudiantes, eliminando la dependencia de formularios en papel y tareas manuales.
        </li>
        <li>
          Logramos reducir el tiempo de procesamiento de solicitudes en un 90%, mejorando la eficiencia administrativa y la experiencia de los padres y estudiantes.
        </li>
        <li>
          Se siguieron los principios de accesibilidad web y diseño responsivo, garantizando una experiencia de usuario óptima en cualquier dispositivo.
        </li>
      </ul>
    </ExperienceItem>
  </div>
</section>
