---

---

<section class="flex flex-col gap-y-3 scroll-mb-16 min-h-0">
  <h2 class="font-bold text-xl" id="side-projects">Proyectos</h2>
  <div
     class="gap-3 print:gap-2 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 print:grid-cols-3 -mx-3"
     role="feed"
     aria-labelledby="side-projects"
     >
     <article>
        <div
           class="relative flex flex-col bg-card p-3 border rounded-lg h-full text-card-foreground overflow-hidden"
           role="article"
           >
           <div class="flex flex-col space-y-1.5">
              <div class="space-y-1">
                 <h3 class="font-semibold text-base tracking-tight">
                    <a
                       href="https://secundariaquetzalcoatl.com/"
                       target="_blank"
                       rel="noopener noreferrer"
                       class="inline-flex items-center gap-1 print:mb-1 hover:underline"
                       aria-label="Quetzalcoatl (Abrir en una nueva pestaña)"
                       >
                       Web Quetzalcoatl
                       <span class="bg-green-500 rounded-full size-1" aria-label="Active project indicator"></span>
                    </a>
                    <div
                       class="hidden font-mono text-xs underline print:visible"
                       aria-hidden="true"
                       >
                       secundariaquetzalcoatl.com
                    </div>
                 </h3>
                 <p
                    class="font-mono text-foreground text-pretty text-xs print:text-[10px]"
                    aria-label="Descripción del proyecto"
                    >
                    Plataforma web para la gestión de preinscripciones escolares de la secundaria Quetzalcoatl.
                 </p>
              </div>
           </div>
           <div
              class="flex mt-auto font-mono text-neutral-700 text-pretty text-sm"
              >
              <ul
                 class="flex flex-wrap gap-1 mt-1 p-0 list-none"
                 aria-label="Tecnologias usadas"
                 >
                 <li>
                    <div
                       class="inline-flex items-center bg-neutral-200 hover:bg-neutral-200/80 px-1 print:px-1 py-0 print:py-0.5 border border-transparent rounded-md focus:ring-2 focus:ring-ring focus:ring-offset-2 font-mono font-semibold text-[10px] text-nowrap print:text-[8px] print:leading-tight transition-colors focus:outline-none"
                       >
                       HTML
                    </div>
                 </li>
                 <li>
                  <div
                     class="inline-flex items-center bg-neutral-200 hover:bg-neutral-200/80 px-1 print:px-1 py-0 print:py-0.5 border border-transparent rounded-md focus:ring-2 focus:ring-ring focus:ring-offset-2 font-mono font-semibold text-[10px] text-nowrap print:text-[8px] print:leading-tight transition-colors focus:outline-none"
                     >
                     CSS
                  </div>
               </li>
               <li>
                <div
                   class="inline-flex items-center bg-neutral-200 hover:bg-neutral-200/80 px-1 print:px-1 py-0 print:py-0.5 border border-transparent rounded-md focus:ring-2 focus:ring-ring focus:ring-offset-2 font-mono font-semibold text-[10px] text-nowrap print:text-[8px] print:leading-tight transition-colors focus:outline-none"
                   >
                   Javascript
                </div>
             </li>
             <li>
              <div
                 class="inline-flex items-center bg-neutral-200 hover:bg-neutral-200/80 px-1 print:px-1 py-0 print:py-0.5 border border-transparent rounded-md focus:ring-2 focus:ring-ring focus:ring-offset-2 font-mono font-semibold text-[10px] text-nowrap print:text-[8px] print:leading-tight transition-colors focus:outline-none"
                 >
                 PHP
              </div>
           </li>
              </ul>
           </div>
           <img src="/qr-quetzalcoatl.png" alt="qr-quetzalcoatl" width="30" height="30" class="print:block top-1 right-4 absolute hidden mt-1">
        </div>
     </article>
     <article>
      <div
         class="relative flex flex-col bg-card p-3 border rounded-lg h-full text-card-foreground overflow-hidden"
         role="article"
         >
         <div class="flex flex-col space-y-1.5">
            <div class="space-y-1">
               <h3 class="font-semibold text-base tracking-tight">
                  <a
                     href="https://psurveys.vercel.app/"
                     target="_blank"
                     rel="noopener noreferrer"
                     class="inline-flex items-center gap-1 print:mb-1 hover:underline"
                     aria-label="Psurveys (Abrir en una nueva pestaña)"
                     >
                     Psurveys
                     <span class="bg-green-500 rounded-full size-1" aria-label="Active project indicator"></span>
                  </a>
                  <div
                     class="hidden font-mono text-xs underline print:visible"
                     aria-hidden="true"
                     >
                     psurveys.vercel.app
                  </div>
               </h3>
               <p
                  class="font-mono text-foreground text-pretty text-xs print:text-[10px]"
                  aria-label="Descripción del proyecto"
                  >
                  Sistema de encuestas psicológicas para brindar evaluaciones psicológicas precisas y actualizadas.
               </p>
            </div>
         </div>
         <div
            class="flex mt-auto font-mono text-neutral-700 text-pretty text-sm"
            >
            <ul
               class="flex flex-wrap gap-1 mt-1 p-0 list-none"
               aria-label="Tecnologias usadas"
               >
               <li>
                  <div
                     class="inline-flex items-center bg-neutral-200 hover:bg-neutral-200/80 px-1 print:px-1 py-0 print:py-0.5 border border-transparent rounded-md focus:ring-2 focus:ring-ring focus:ring-offset-2 font-mono font-semibold text-[10px] text-nowrap print:text-[8px] print:leading-tight transition-colors focus:outline-none"
                     >
                     HTML
                  </div>
               </li>
               <li>
                <div
                   class="inline-flex items-center bg-neutral-200 hover:bg-neutral-200/80 px-1 print:px-1 py-0 print:py-0.5 border border-transparent rounded-md focus:ring-2 focus:ring-ring focus:ring-offset-2 font-mono font-semibold text-[10px] text-nowrap print:text-[8px] print:leading-tight transition-colors focus:outline-none"
                   >
                   CSS
                </div>
             </li>
             <li>
              <div
                 class="inline-flex items-center bg-neutral-200 hover:bg-neutral-200/80 px-1 print:px-1 py-0 print:py-0.5 border border-transparent rounded-md focus:ring-2 focus:ring-ring focus:ring-offset-2 font-mono font-semibold text-[10px] text-nowrap print:text-[8px] print:leading-tight transition-colors focus:outline-none"
                 >
                 Javascript
              </div>
           </li>
           <li>
            <div
               class="inline-flex items-center bg-neutral-200 hover:bg-neutral-200/80 px-1 print:px-1 py-0 print:py-0.5 border border-transparent rounded-md focus:ring-2 focus:ring-ring focus:ring-offset-2 font-mono font-semibold text-[10px] text-nowrap print:text-[8px] print:leading-tight transition-colors focus:outline-none"
               >
               PHP
            </div>
         </li>
            </ul>
         </div>
         <img src="/qr-psurveys.png" alt="qr-psurveys" width="30" height="30" class="print:block top-1 right-4 absolute hidden mt-1">
      </div>
   </article>
   <article>
    <div
       class="relative flex flex-col bg-card p-3 border rounded-lg h-full text-card-foreground overflow-hidden"
       role="article"
       >
       <div class="flex flex-col space-y-1.5">
          <div class="space-y-1">
             <h3 class="font-semibold text-base tracking-tight">
                <a
                   href="https://cxde.one/"
                   target="_blank"
                   rel="noopener noreferrer"
                   class="inline-flex items-center gap-1 print:mb-1 hover:underline"
                   aria-label="Cxde (Abrir en una nueva pestaña)"
                   >
                   Cxde
                   <span class="bg-green-500 rounded-full size-1" aria-label="Active project indicator"></span>
                </a>
                <div
                   class="hidden font-mono text-xs underline print:visible"
                   aria-hidden="true"
                   >
                   cxde.one
                </div>
             </h3>
             <p
                class="font-mono text-foreground text-pretty text-xs print:text-[10px]"
                aria-label="Descripción del proyecto"
                >
                Cxde es un editor en línea de código HTML, CSS y JavaScript con vista previa en tiempo real y modo Vim.
             </p>
          </div>
       </div>
       <div
          class="flex mt-auto font-mono text-neutral-700 text-pretty text-sm"
          >
          <ul
             class="flex flex-wrap gap-1 mt-1 p-0 list-none"
             aria-label="Tecnologias usadas"
             >
             <li>
                <div
                   class="inline-flex items-center bg-neutral-200 hover:bg-neutral-200/80 px-1 print:px-1 py-0 print:py-0.5 border border-transparent rounded-md focus:ring-2 focus:ring-ring focus:ring-offset-2 font-mono font-semibold text-[10px] text-nowrap print:text-[8px] print:leading-tight transition-colors focus:outline-none"
                   >
                   Astro
                </div>
             </li>
             <li>
              <div
                 class="inline-flex items-center bg-neutral-200 hover:bg-neutral-200/80 px-1 print:px-1 py-0 print:py-0.5 border border-transparent rounded-md focus:ring-2 focus:ring-ring focus:ring-offset-2 font-mono font-semibold text-[10px] text-nowrap print:text-[8px] print:leading-tight transition-colors focus:outline-none"
                 >
                 Tailwindcss
              </div>
           </li>
           <li>
            <div
               class="inline-flex items-center bg-neutral-200 hover:bg-neutral-200/80 px-1 print:px-1 py-0 print:py-0.5 border border-transparent rounded-md focus:ring-2 focus:ring-ring focus:ring-offset-2 font-mono font-semibold text-[10px] text-nowrap print:text-[8px] print:leading-tight transition-colors focus:outline-none"
               >
               Monaco Editor
            </div>
         </li>
          </ul>
       </div>
       <img src="/qr-cxde.png" alt="qr-cxde" width="30" height="30" class="print:block top-1 right-4 absolute hidden mt-1">
    </div>
 </article>
  </div>
</section>