---
const skills = [
  'HTML',
  'CSS',
  'Javascript',
  'PHP',
  'Astro',
  'React',
  'Next.js',
  'Node.js',
  'Express',
  'Git',
  'Figma',
  'TailwindCSS',
  'Bootstrap'
]
---

<section class="flex flex-col gap-y-3 print:gap-y-1 min-h-0">
  <h2 class="font-bold text-xl" id="skills-section">Habilidades</h2><ul
    class="flex flex-wrap gap-1 p-0 list-none"
    aria-label="Lista de hanilidades"
  >
    {
      skills.map((skill: string) => (
        <li>
          <div
            class="inline-flex items-center bg-neutral-200 hover:bg-neutral-200/80 px-2 py-0.5 border border-transparent rounded-md focus:ring-2 focus:ring-ring focus:ring-offset-2 font-mono font-semibold text-nowrap text-xs print:text-[10px] transition-colors focus:outline-none"
            aria-label={`Skill: ${skill}`}
          >
            {skill}
          </div>
        </li>
      ))
    }
  </ul>
</section>
