---

---

<section>
  <h2 class="font-bold text-xl" id="sobremi-section">
    Sobre mí
  </h2>
  <div
    class="mt-2 font-mono text-neutral-700 text-pretty text-sm print:text-[12px]"
    aria-labelledby="sobremi-section"
  >
    <p>
      Ingeniero en Desarrollo y Gestión de Software con sólida experiencia en desarrollo web full-stack. Dedicado a la creación de sitios web de alta calidad, priorizando la funcionalidad, el rendimiento y la experiencia del usuario. Comprometido con la entrega de soluciones innovadoras y eficientes que satisfagan las necesidades del cliente.
    </p>
  </div>
</section>